package.json

**/*.svg
*.png

.editorconfig
.eslintignore
.dockerignore
.gitignore
.eslintcache
.prettierignore

*.toml
docker
Dockerfile*

*.lock
yarn-error.log

.DS_Store
LICENSE
CNAME
/build
/public
/dist